PORT=3000
NODE_ENV=development
DEVELOPMENT_DB_HOST=dev02.hex
DEVELOPMENT_DB_CLIENT=mariasql
DEVELOPMENT_DB=development
DEVELOPMENT_DB_PASSWORD=password
DEVELOPMENT_DB_USER=user
SENDGRID_API_KEY=falsekeyfalsekeyfalsekeyfalsekeyfalsekeyfalsekey
AUTHY_API_KEY=falsekeyfalsekeyfalsekeyfalsekey
BTC_DEPOSIT_ADDRESS=falseaddressfalseaddress
ZEROKEY_SERVER=http://localhost:2048
SERVERNAME=http://localhost:3000

PIPELINE_DEVELOPMENT_DB_HOST=name_of_host
PIPELINE_DEVELOPMENT_DB_CLIENT=name_of_client
PIPELINE_DEVELOPMENT_DB=name_of_pipeline_database
PIPELINE_DEVELOPMENT_DB_USER=name_of_user
PIPELINE_DEVELOPMENT_DB_PASSWORD=user_password
